@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif; }

h1, h2, h3, h4 {
  color: #d99b96;
  font-family: "Courgette", cursive;
  text-align: center; }

#botonera {
  background-color: #417a95; }
  #botonera ul li a {
    color: white;
    font-weight: 400;
    font-size: 100%; }
    #botonera ul li a:hover {
      color: #d99b96; }

#logo {
  border-style: solid;
  border-color: #5d3a1a;
  width: 65%; }

@media screen and (min-width: 768px) {
  #botonera ul li a {
    font-size: 140%; }
  #logo {
    width: 50%; } }

@media screen and (min-width: 1200px) {
  #botonera ul li a {
    font-size: 160%; } }

/*-------------FOOTER-------------------------*/
.foot .informativa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #417a95; }
  .foot .informativa h3 {
    /*--Hide for Desktop---*/
    color: white; }
  .foot .informativa .divSite, .foot .informativa .divDirec, .foot .informativa .divHora {
    /*--show for Desktop---*/
    display: none; }
  .foot .informativa .divDirec {
    /*--show for Desktop---*/ }
  .foot .informativa .divHora {
    /*--show for Desktop---*/ }
  .foot .informativa .divConoc h4 {
    /*--show for Desktop---*/
    display: none; }
  .foot .informativa .divConoc ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .foot .informativa .divConoc ul li {
      list-style: none; }
      .foot .informativa .divConoc ul li a p {
        display: none; }

.foot .legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .foot .legend p {
    text-align: center;
    font-size: 80%;
    color: white;
    margin-top: 1%;
    margin-bottom: 0; }

@media screen and (min-width: 768px) {
  /*-------------@ FOOTER-------------------------*/
  .foot .informativa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 3% 5% 1% 5%;
    background-color: #417a95;
    /*------footMapaSitio---------------------------*/
    /*-------footDireccion-------------------------*/
    /*-------footHorario-------------------------*/
    /*------footConocenos--------------------------*/ }
    .foot .informativa h3 {
      display: none; }
    .foot .informativa .divSite, .foot .informativa .divDirec, .foot .informativa .divHora {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24%; }
      .foot .informativa .divSite h4, .foot .informativa .divDirec h4, .foot .informativa .divHora h4 {
        margin-bottom: 5%; }
      .foot .informativa .divSite ul, .foot .informativa .divDirec ul, .foot .informativa .divHora ul {
        padding-left: 0; }
        .foot .informativa .divSite ul li, .foot .informativa .divDirec ul li, .foot .informativa .divHora ul li {
          list-style: none;
          text-align: center; }
          .foot .informativa .divSite ul li a, .foot .informativa .divDirec ul li a, .foot .informativa .divHora ul li a {
            text-align: center;
            font-size: 100%;
            color: white;
            text-decoration: none; }
            .foot .informativa .divSite ul li a:hover, .foot .informativa .divDirec ul li a:hover, .foot .informativa .divHora ul li a:hover {
              color: #d99b96; }
    .foot .informativa .divDirec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24%;
      margin-right: 2%; }
      .foot .informativa .divDirec h4 {
        margin-bottom: 5%; }
      .foot .informativa .divDirec p {
        text-align: center;
        font-size: 100%;
        color: white; }
    .foot .informativa .divHora {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24%; }
      .foot .informativa .divHora h4 {
        margin-bottom: 5%; }
      .foot .informativa .divHora p {
        text-align: center;
        font-size: 100%;
        color: white; }
    .foot .informativa .divConoc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24%; }
      .foot .informativa .divConoc h4 {
        display: block;
        margin-bottom: 5%; }
      .foot .informativa .divConoc ul {
        gap: 10%;
        padding-left: 0; }
        .foot .informativa .divConoc ul li a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none; }
          .foot .informativa .divConoc ul li a p {
            text-align: center;
            font-size: 100%;
            color: white;
            display: block; }
            .foot .informativa .divConoc ul li a p:hover {
              color: #d99b96; } }

.indexProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%; }
  .indexProducts figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
    gap: 5%;
    border-radius: 5%; }
    .indexProducts figure div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5%; }
      .indexProducts figure div h3 {
        color: #417a95;
        margin-top: 5%;
        padding-top: 1%; }
      .indexProducts figure div p {
        text-align: center; }
      .indexProducts figure div a {
        text-decoration: none;
        background-color: #417a95;
        color: white; }
        .indexProducts figure div a:hover h3 {
          color: #d99b96; }
    .indexProducts figure img {
      width: 50%;
      border-radius: 2%; }
  .indexProducts .imp {
    background-color: rgba(93, 58, 26, 0.3); }
  .indexProducts .par {
    background-color: rgba(65, 122, 149, 0.3); }
    .indexProducts .par img {
      order: 1; }
    .indexProducts .par div {
      order: 0; }

.indexBaner-dos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5d3a1a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12vh; }

.index-his {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 5%; }
  .index-his img {
    width: 50%; }
  .index-his div {
    padding: 5% 5%; }
    .index-his div p {
      text-align: justify;
      padding-top: 5%; }
    .index-his div a {
      background-color: #417a95;
      color: white; }

.index-gal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  background-color: rgba(93, 58, 26, 0.3); }
  .index-gal h3 {
    padding-bottom: 5%;
    color: #5d3a1a; }
  .index-gal a {
    background-color: #417a95;
    color: white; }
  .index-gal ul {
    padding-left: 0; }
    .index-gal ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-top: 2%; }
      .index-gal ul li img {
        width: 99%; }

@media screen and (min-width: 768px) {
  .indexProducts {
    flex-direction: row;
    gap: 5%; }
    .indexProducts figure {
      flex-direction: column;
      align-content: space-between;
      padding: 2% 1%;
      gap: 2%;
      border-radius: 10%;
      height: 460px; }
      .indexProducts figure div {
        align-content: space-between;
        height: 60%; }
        .indexProducts figure div a {
          text-decoration: none;
          padding: 5% 0 2% 0; }
      .indexProducts figure img {
        width: 80%; }
    .indexProducts .imp {
      background-color: rgba(93, 58, 26, 0.3); }
    .indexProducts .par {
      background-color: rgba(93, 58, 26, 0.3); }
      .indexProducts .par img {
        order: 0; }
      .indexProducts .par div {
        order: 1; }
  .index-his {
    flex-direction: row;
    justify-content: center;
    margin: 0 8%; }
    .index-his img {
      width: 30%; }
    .index-his div {
      width: 50%; }
  .index-gal ul {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin: 0 10%; }
    .index-gal ul li img {
      width: 99%; }
  .index-gal h3 {
    padding-bottom: 3%;
    font-size: 160%; }
  .index-gal a {
    margin: 0 auto; } }

@media screen and (min-width: 1200px) {
  .indexProducts figure {
    height: 500px;
    gap: 0; }
    .indexProducts figure div {
      height: 50%;
      gap: 1%; }
    .indexProducts figure img {
      width: 80%; } }

.hist-main figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 10%; }
  .hist-main figure img {
    width: 100%;
    border-radius: 5%;
    order: 1; }
  .hist-main figure div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%; }
    .hist-main figure div p {
      text-align: justify;
      font-size: 100%;
      color: black;
      padding-top: 5%; }

@media screen and (min-width: 768px) {
  .hist-main figure {
    flex-direction: row;
    margin: 5% 10%;
    gap: 10%; }
    .hist-main figure img {
      width: 50%;
      order: 0; }
    .hist-main figure div p {
      text-align: justify; } }

.product-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .product-main .encabezado {
    padding: 3% 0;
    background-color: rgba(65, 122, 149, 0.1); }
    .product-main .encabezado h1, .product-main .encabezado h2, .product-main .encabezado h3, .product-main .encabezado h4 {
      color: #417a95;
      text-decoration: underline; }
  .product-main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%; }
    .product-main section div {
      margin-bottom: 5%; }
      .product-main section div p {
        text-align: justify;
        margin-top: 5%;
        margin-bottom: 2%; }
      .product-main section div img {
        width: 100%;
        border-radius: 2%; }
      .product-main section div a {
        background-color: #417a95;
        color: white; }
  .product-main .par {
    background-color: rgba(93, 58, 26, 0.3); }
    .product-main .par h2 {
      color: #417a95; }
    .product-main .par .prodText {
      order: 0; }
    .product-main .par .prodImg {
      order: 1; }

@media screen and (min-width: 768px) {
  .product-main .encabezado {
    padding: 2% 0; }
  .product-main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%; }
    .product-main section div {
      width: 40%; }
      .product-main section div img {
        width: 90%; }
  .product-main .par .prodText {
    order: 1; }
  .product-main .par .prodImg {
    order: 0; } }

.galeria-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .galeria-main .encabezado {
    padding: 3% 0;
    background-color: rgba(65, 122, 149, 0.1); }
    .galeria-main .encabezado h1, .galeria-main .encabezado h2, .galeria-main .encabezado h3, .galeria-main .encabezado h4 {
      color: #417a95;
      text-decoration: underline; }
  .galeria-main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%; }
    .galeria-main section h2 {
      margin-bottom: 5%;
      color: #d99b96; }
    .galeria-main section ul {
      background-image: url("../img/galeria.jpg");
      /*ANIMACION PARA CAMBIO DE IMAGEN*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      height: 25vh;
      width: 100vw; }
      .galeria-main section ul li {
        list-style: none;
        display: none; }
  .galeria-main .par {
    background-color: rgba(93, 58, 26, 0.3); }
    .galeria-main .par h2 {
      color: #417a95; }

@media screen and (min-width: 768px) {
  .galeria-main .encabezado {
    padding: 2% 0; }
  .galeria-main section {
    padding-top: 3%; }
    .galeria-main section ul {
      background-image: none;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1%; }
      .galeria-main section ul li {
        list-style: none;
        display: inline;
        width: 25%;
        margin-bottom: 0.5%; }
        .galeria-main section ul li img {
          width: 100%;
          border-radius: 2%; }
  .galeria-main .par {
    background-color: rgba(93, 58, 26, 0.3); } }

.contacto-main .encabezado {
  padding: 3% 0;
  background-color: rgba(65, 122, 149, 0.1); }
  .contacto-main .encabezado h1, .contacto-main .encabezado h2, .contacto-main .encabezado h3, .contacto-main .encabezado h4 {
    color: #417a95;
    text-decoration: underline; }

.contacto-main section p {
  text-align: center;
  padding: 5%; }

.contacto-main button {
  background-color: #417a95;
  color: white; }

.contacto-main .social ul {
  padding-left: 0; }
  .contacto-main .social ul li {
    list-style: none;
    margin-bottom: 5%;
    margin-top: 5%; }
    .contacto-main .social ul li a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-items: center; }

.contacto-main .frame {
  width: 100%; }
  .contacto-main .frame iframe {
    height: 30vh;
    width: 100%; }

@media screen and (min-width: 768px) {
  .contacto-main .encabezado {
    padding: 1% 0; }
  .contacto-main .social ul li {
    list-style: none;
    margin-bottom: 1%;
    margin-top: 1%; }
  .frame iframe {
    height: 40vh; } }
