/* MOVILE FIRST */

/* Importar las Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&family=Roboto+Serif:wght@300;400;700&display=swap');

/* -----Selector universal, reseteamos margin y padding ---- */
*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4{
	color: #D99B96;
	font-family: 'Courgette', cursive;
	text-align: center;
}

/*-------------------------INDEX PAGE------------------------------------------------*/										
/*-------------------------------------------------------------------------*/


.grid-index{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto) ;
	grid-template-areas:	"nav"
							"indexBaner-uno"
							"index-prod"
							"indexBaner-dos"
							"index-his"
							"index-gal"
							"foot";
}

/*--------BOTONERA-------------------------------*/
.nav{
	grid-area: nav;
	background-color: #417A95;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}
	.nav .logo a{
		display: flex;
		justify-content: center;
		text-decoration: none;
		padding-top: 5% ;
	}
		.nav .logo a img{
			width: 50%;
			border-style: solid;
			border-color: #5D3A1A;
		}
	.nav ul{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		gap: 4%;
		padding: 2%;
	}
		.nav ul li{
			list-style: none;
		}
			.nav ul li a{
				color: #FFFFFF;
				font-weight: 400;
				font-size: 120%;
				text-decoration: none;
			}
				.nav ul li a:hover{
					color: #D99B96;
				}

/*--------BANNER #1 INDEX--------------------------*/

.indexBaner-uno{
	grid-area: indexBaner-uno;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/banner1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 18vh;
}
	.indexBaner-uno h1{
		font-family: 'Courgette', cursive;
		text-align: center;
		font-size: 150%;
		color:black;
		background-color: rgba(250, 250, 250, 0.7);
		padding:  1%;
		border-style: solid;
		border-radius: 10%;
		width: 75%;
	}

/*------------SECCION PRODUCTS INDEX---------------*/
.index-prod{
	grid-area: index-prod;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
	margin-right:5% ;
	margin-left: 5%;
}

.index-prod .intro{
	display: flex;
	flex-direction:column ;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
}
	.index-prod .intro h2{
		padding-top: 5%;
	}
	.index-prod .intro p{
		text-align: justify;
		padding: 2% 5%;
		font-size: 100%;
	}

.index-prod .productos{
	display: flex;
	flex-direction: column;

}
	.index-prod .productos .imp{
		display: flex;
		flex-direction: row;
		padding: 2% 10%;
		gap: 5%;
		background-color: rgba(93, 58, 23, 0.3) ;
	}
	.index-prod .productos .par{
		display: flex;
		flex-direction: row;
		padding: 2% 10%;
		gap: 5%;
	}
	.index-prod .productos figure div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5%;
	}
		.index-prod .productos figure div p{
			text-align: justify;
		}
		.index-prod .productos figure div a{
			text-decoration: none;
		}
			.index-prod .productos figure div a:hover h3{
				color: #417A95;
			}
		.index-prod .productos figure img{
			width: 45%;
		}


/*------------BANNER #2 INDEX--------------------------*/
.indexBaner-dos{
	grid-area: indexBaner-dos;
	background-color: #5D3A1A;
	/*background-image: url("../img/banner2.png");*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 12vh;
}


/*-------------SECCION HISTORIA INDEX-------------------------*/
.index-his{
	grid-area: index-his;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
}
	.index-his img{
		width: 70%;
	}
	.index-his div{
		padding: 5% 5%;
	}
		.index-his div p{
			text-align: justify;
			padding-top: 5%;
		}


/*------------SECCION GALERIA INDEX--------------------------*/
.index-gal{
	grid-area: index-gal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
	background-color: rgba(93, 58, 23, 0.3);
}
	.index-gal h3{
		padding-bottom: 5%;
		color: #5D3A1A;
	}
	.index-gal ul li{
		list-style: none;
	}

/*-------------FOOTER-------------------------*/
.foot{
	grid-area: foot;
}
	.foot .informativa{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5%;
		background-color: #417A95;
	}
		.foot .informativa h3{	/*--Hide for Desktop---*/
			color: #FFFFFF;
		}
	.foot .informativa .divSite{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divDirec{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divHora{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divConoc h4{	/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divConoc ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.foot .informativa .divConoc ul li{
			list-style: none;
		}	
			.foot .informativa .divConoc ul li a p{
				display: none;
			}
	.foot .legend{
		background-color: black;
		display: flex;
		justify-content: center;
	}
		.foot .legend p{
			color: #FFFFFF;
			text text-align: center;
			font-size: 80%;
		}


/*--------------------HISTORIA PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/


.grid-historia{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"hist-main"
							"foot";
}
.hist-main{
	grid-area: hist-main;
}
.hist-main figure{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3% 10%;
}
	.hist-main figure img{
		width: 100%;
		border-radius: 5%;
		order: 1;
	}
	.hist-main figure div{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding-bottom: 5%;
	}
		.hist-main figure div p{
			text-align: justify;
			padding-top: 5%;
			font-size: 100%;
		}




/*--------------------PRODUCTOS PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/


.grid-productos{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"product-main"
							"foot";
}
.product-main{
	grid-area: product-main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

	.product-main section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding: 5% 10%;
	}
	.product-main section div{
		margin-bottom: 5%;
	}
		.product-main section div p{
			text-align: justify;
			margin-top: 5%;
			margin-bottom: 2%;
		}
		.product-main section div img{
			width: 100%;
		}
.product-main .par{
	background-color: rgba(93, 58, 23, 0.3);
}


/*--------------------GALERIA PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/

.grid-galeria{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"galeria-main"
							"foot";
}
.galeria-main{
	grid-area: galeria-main;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.galeria-main section{
	display: flex;
	flex-direction: column;
	padding: 5%;
	width: 100%;
}
.galeria-main section h2{
	margin-bottom: 5%;
	color: #5D3A1A;
}
.galeria-main section ul{
	background-image: url("../img/galeria.jpg");  /*ANIMACION PARA CAMBIO DE IMAGEN*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 25vh;
}
.galeria-main section ul li{
	list-style: none;
	display: none;
}
.galeria-main .par{
	background-color: rgba(93, 58, 23, 0.3);
}



/*--------------------CONTACTO PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/

.grid-contacto{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"contacto-main"
							"foot";
}
.contacto-main{
	grid-area: contacto-main;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacto-main .formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 10%;
}
.contacto-main section p{
	text-align: center;
	padding: 5% 0;
}
.contacto-main section form fieldset{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5%;
}
.w-75{
	width: 75%;
	margin-bottom: 3%;
}
.w-30{
	width: 30%;
	margin-bottom: 3%;
}
.contacto-main .info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	padding: 5% 10%;
	gap:  5%;
}
.contacto-main .info .contact{
	width: 45%;
	display: flex;
	flex-direction: column;
}
.contacto-main .info .contact p{
	font-size: 90%;
}
.contacto-main .info .social{
	width: 45%;
	display: flex;
	flex-direction: column;
}
.contacto-main .info .social ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacto-main .info .social ul li{
	list-style: none;
	margin-bottom: 5%;
	margin-top: 5%;
}
.contacto-main .info .social ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contacto-main .frame{
	width: 100%;
}
.contacto-main .frame iframe{
	height: 30vh;
	width: 100%;
}






/*---------------------------------------------------------------------------------*/
/*-------------------------! RESPONSIVE !	---------------------------------------*/									
/*--------------------------------------------------------------------------------*/






@media screen and (min-width: 768px){

	/*------------------------INDEX PAGE------------------------------------------*/											

	/*--------BOTONERA------------------------------*/
	.nav{
		flex-direction: row;
		justify-content: space-between;
	}
		.nav .logo a{
			padding: 1% ;
		}
		.nav ul{	
			gap: 10%;
			padding: 0%;
			margin-right: 15%;
		}
			.nav ul li a{
				font-size: 150%;			
			}

	/*--------Index Banner #1-----------------------------*/

	.indexBaner-uno{		
		height: 25vh;
	}
		.indexBaner-uno h1{	
			font-size: 170%;
			padding:  1%;
			border-radius: 10%;
			width: 70%;
		}

	/*------------Index Products---------------------*/


	.index-prod .intro{
		margin-bottom: 2%;
		margin-right:10% ;
		margin-left: 10%;
	}
		.index-prod .intro h2{
			font-size: 160%;
		}
		.index-prod .intro p{
			font-size: 120%;
		}

	.index-prod .productos{
		flex-direction: row;
		gap:  5%;
	}
		.index-prod .productos .imp{
			flex-direction: column;
			align-items: center;
			padding: 2% 1%;
			gap: 5%;
			background-color: rgba(93, 58, 23, 0.3) ;
		}
		.index-prod .productos .par{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2% 1%;
			gap: 5%;
			background-color: rgba(93, 58, 23, 0.3) ;
		}

		.index-prod .productos figure div a{
			text-decoration: none;
			padding: 5% 0 2% 0;
		}

		.index-prod .productos figure img{
			width: 80%;
		}

	/*-----------Index Banner #2---------------------------------*/
		/*No changes*/


	/*-------------Index Historia------------------------*/
	.index-his{
		flex-direction: row;
		margin: 0 8%;
	}
		.index-his img{
			width: 100%;
		}

	/*------------Index Galeria--------------------------*/

	.index-gal ul{
		display: flex;
		flex-direction: row;
		gap: 1%;
		margin: 0 10%;
	}
		.index-gal ul li img{
			width: 99%
		}
	.index-gal h3{
		padding-bottom: 3%;
		font-size: 150%;
	}
	.index-gal a{
		margin:  0 auto;
	}


	/*-------------FOOTER--------------------------------*/

	.foot .informativa{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		padding: 5% 5% 2% 5%;
		background-color: #417A95;
	}
		.foot .informativa h3{
			display: none;
		}

	/*------footMapaSitio---------------------------*/
	.foot .informativa .divSite{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
	}
		.foot .informativa .divSite h4{
			margin-bottom: 10%;
		}
		.foot .informativa .divSite ul li{
			list-style: none
		}
			.foot .informativa .divSite ul li a{
				text-decoration: none;
				color: #FFFFFF ;
			}

	/*-------footDireccion-------------------------*/

	.foot .informativa .divDirec{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
		margin-right: 2%;
	}
		.foot .informativa .divDirec h4{
			margin-bottom: 5%;
		}
		.foot .informativa .divDirec p{
			color: #FFFFFF ;
			text-align: center;
		}


	/*-------footHorario-------------------------*/

	.foot .informativa .divHora{		
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
	}
		.foot .informativa .divHora h4{
			margin-bottom: 5%;
		}
		.foot .informativa .divHora p{
			color: #FFFFFF ;
			text-align: center;
		}

	/*------footConocenos--------------------------*/

	.foot .informativa .divConoc{		
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
	}
		.foot .informativa .divConoc h4{
			display: block;
			margin-bottom: 5%;
		}
		.foot .informativa .divConoc ul{
			gap: 10%
		}
			.foot .informativa .divConoc ul li a{
				text-decoration: none ;
			}
				.foot .informativa .divConoc ul li a p{
					display: block;
					color:#FFFFFF  ;
				}

	/*--------footLegend------------------------*/
		/*No changes*/


	/*------------------------HISTORIA PAGE---------------------------------------*/
	/*---------------------------------------------------------------------------*/

	
	.hist-main figure{	
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 5% 10%;
		gap:  10%;
	}
		.hist-main figure img{
			width: 50%;
			order: 0;
		}
		.hist-main figure div p{
			text-align: justify;
			padding-top: 5%;
			font-size: 110%;
		}


	/*--------------------PRODUCTOS PAGE-----------------------------------------*/	
	/*--------------------------------------------------------------------------*/


		.product-main section{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 5% 10%;
			gap: 5%;
		}
		.product-main section div{
			margin-bottom: 5%;
			width: 45%;
		}
			.product-main section div p{
				text-align: justify;
				margin-top: 5%;
				margin-bottom: 2%;
			}
			.product-main section div img{
				width: 100%;
			}

	.order-0{
		order: 0;
	}
	.order-1{
		order: 1;
	}


	/*--------------------GALERIA PAGE-----------------------------------------*/										
	/*-------------------------------------------------------------------------*/

	

	.galeria-main section ul{
		background-image: none;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap:  1%;
	}
	.galeria-main section ul li{
		list-style: none;
		display: inline;
		width: 25%;
		margin-bottom: 0.5%;
	}
	.galeria-main section ul li img{
		width: 100%;
		border-radius: 2%;
	}
	.galeria-main .par{
		background-color: rgba(93, 58, 23, 0.3);
	}



	/*--------------------CONTACTO PAGE-----------------------------------------*/										
	/*-------------------------------------------------------------------------*/

	.contacto-main{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.contacto-main .formulario{
		width: 60%;
		padding: 5%;
	}
	.contacto-main .info{
		flex-direction: column;
		align-items: center;
		width: 30%;
		padding: 0%;
	}
	.contacto-main .info div{
		margin-bottom: 5%;
	}

	.contacto-main .info .contact{
		width: 80%;
	}
	.contacto-main .info .contact p{
		font-size: 100%;
		margin-bottom: 0%;
		padding: 0;
	}
	.contacto-main .info .contact h3{
		margin-bottom: 5%;
		margin-top: 10%;
	}
		.contacto-main .info .social{
		width: 75%;
	}

	.contacto-main .info .social ul{
		width: 100%;
	}
	.contacto-main .info .social ul li{
		list-style: none;
		margin-bottom: 1%;
		margin-top: 1%;
	}

	.contacto-main .frame iframe{
		height: 40vh;
	}







}