/* Importar las Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;600&display=swap');

/* -----Selector universal, reseteamos margin y padding ---- */
*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4{
	color: #D99B96;
	font-family: 'Courgette', cursive;
	text-align: center;
}


/*-------------------------INDEX PAGE------------------------------------------------*/

/*--------BOTONERA-------------------------------*/
#botonera{
	background-color: #417A95;
}
	#botonera ul li a{
		color: #FFFFFF;
		font-weight: 400;
		font-size: 120%;
	}

	#botonera ul li a:hover{
		color: #D99B96;
	}

#logo{
	border-style: solid;
	border-color: #5D3A1A;
}

/*--------Carousel Index-------------------------------*/
/*#carouselExampleCaptions img{
	height: 35vh;
}*/




/*------------SECCION PRODUCTS INDEX---------------*/
.indexProducts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
	margin-right:5% ;
	margin-left: 5%;
}
	.indexProducts figure {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 2% 10%;
		gap: 5%;
		border-radius: 5%;
	}

	.indexProducts .imp{
		
		background-color: rgba(93, 58, 26, 0.3);
	}
	.indexProducts .par{

		background-color: rgba(65, 122, 149, 0.3);
		
	}
		.indexProducts .par img{
			order: 1;
		}
		.indexProducts .par div{
			order: 0;
		}

	.indexProducts figure div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5%;
	}
		.indexProducts figure div h3{
			color: #417A95;
			margin-top: 5%;
			padding-top: 1%;
		}
		.indexProducts figure div p{
			text-align: center;
		}
		.indexProducts figure div a{
			text-decoration: none;
			background-color: #417A95;
			color: white;
		}
			.indexProducts figure div a:hover h3{
				color: #D99B96;
			}
		.indexProducts figure img{
			width: 50%;
			border-radius: 2%;
		}

/*------------BANNER #2 INDEX--------------------------*/
.indexBaner-dos{
	grid-area: indexBaner-dos;
	background-color: #5D3A1A;
	/*background-image: url("../img/banner2.png");*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 12vh;
}


/*-------------SECCION HISTORIA INDEX-------------------------*/
.index-his{
	grid-area: index-his;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
}
	.index-his img{
		width: 70%;
	}
	.index-his div{
		padding: 5% 5%;
	}
		.index-his div p{
			text-align: justify;
			padding-top: 5%;
		}

		.index-his div a{
			background-color: #417A95;
			color: #FFFFFF;
		}


/*------------SECCION GALERIA INDEX--------------------------*/
.index-gal{
	grid-area: index-gal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
	background-color: rgba(93, 58, 23, 0.3);
}
	.index-gal h3{
		padding-bottom: 5%;
		color: #5D3A1A;
	}
	.index-gal a{
		background-color: #417A95;
		color: #FFFFFF;
	}
	.index-gal ul li{
		list-style: none;
		margin-top: 2%;
	}


/*-------------FOOTER-------------------------*/
.foot{
	grid-area: foot;
}
	.foot .informativa{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5%;
		background-color: #417A95;
	}
		.foot .informativa h3{	/*--Hide for Desktop---*/
			color: #FFFFFF;
		}
	.foot .informativa .divSite{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divDirec{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divHora{		/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divConoc h4{	/*--show for Desktop---*/
		display: none;
	}
	.foot .informativa .divConoc ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.foot .informativa .divConoc ul li{
			list-style: none;
		}	
			.foot .informativa .divConoc ul li a p{
				display: none;
			}
	.foot .legend{
		background-color: black;
		display: flex;
		justify-content: center;
	}
		.foot .legend p{
			color: #FFFFFF;
			text text-align: center;
			font-size: 80%;
		}


/*--------------------HISTORIA PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/


.grid-historia{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"hist-main"
							"foot";
}
.hist-main{
	grid-area: hist-main;
}
.hist-main figure{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3% 10%;
}
	.hist-main figure img{
		width: 100%;
		border-radius: 5%;
		order: 1;
	}
	.hist-main figure div{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding-bottom: 5%;
	}
		.hist-main figure div p{
			text-align: justify;
			padding-top: 5%;
			font-size: 100%;
		}




/*--------------------PRODUCTOS PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/


.grid-productos{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"product-main"
							"foot";
}
.product-main{
	grid-area: product-main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

	.product-main section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding: 5% 10%;
	}
	.product-main section div{
		margin-bottom: 5%;
	}
		.product-main section div p{
			text-align: justify;
			margin-top: 5%;
			margin-bottom: 2%;
		}
		.product-main section div img{
			width: 100%;
			border-radius: 2%;
		}
.product-main .par{
	background-color: rgba(93, 58, 23, 0.3);
}
	.product-main .par .prodText{
		order: 0;
	}
	.product-main .par .prodImg{
		order: 1;
	}

.product-main section div a{
	background-color: #417A95;
	color: #FFFFFF;
}


/*--------------------GALERIA PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/

.grid-galeria{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:	"nav"
							"galeria-main"
							"foot";
}
.galeria-main{
	grid-area: galeria-main;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.galeria-main section{
	display: flex;
	flex-direction: column;
	padding: 5%;
	width: 100%;
}
.galeria-main section h2{
	margin-bottom: 5%;
	color: #5D3A1A;
}
.galeria-main section ul{
	background-image: url("../img/galeria.jpg");  /*ANIMACION PARA CAMBIO DE IMAGEN*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 25vh;
}
.galeria-main section ul li{
	list-style: none;
	display: none;
}
.galeria-main .par{
	background-color: rgba(93, 58, 23, 0.3);
}



/*--------------------CONTACTO PAGE-----------------------------------------*/										
/*-------------------------------------------------------------------------*/


.contacto-main section p{
	text-align: center;
	padding: 5%;
}

.contacto-main button{
	background-color: #417A95;
	color #FFFFFF;
}

.contacto-main  .social ul{
		padding-left: 0;
}				
.contacto-main .social ul li{
	list-style: none;
	margin-bottom: 5%;
	margin-top: 5%;
}
.contacto-main  .social ul li a{
		display: flex;
		flex-direction: column;
		align-items: center;
}
/*.contacto-main .info .social ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}*/
.contacto-main .frame{
	width: 100%;
}
.contacto-main .frame iframe{
	height: 30vh;
	width: 100%;
}





/*---------------------------------------------------------------------------------*/
/*-------------------------! @MEDIA QUERIES !	---------------------------------------*/									
/*--------------------------------------------------------------------------------*/





@media screen and (min-width: 768px){

	/*------------------------@INDEX PAGE------------------------------------------*/

	/*--------BOTONERA------------------------------*/
	#botonera ul li a{
		font-size: 150%;
	}
	#logo{
		width: 50% !important;
	}


	/*------------@SECCION PRODUCTS INDEX---------------*/
		.indexProducts{
		flex-direction: row;
		gap:  5%;
	}
		.indexProducts figure{
			flex-direction: column;
			align-items: center;
			padding: 2% 1%;
			gap: 5%;
			border-radius: 10%;
		}
		.indexProducts .imp{
			
			background-color: rgba(93, 58, 26, 0.3);
		}
		.indexProducts .par{

			background-color: rgba(93, 58, 26, 0.3);
		}
			.indexProducts .par img{
				order: 0;
			}
			.indexProducts .par div{
				order: 1;
			}

		.indexProducts figure div a{
			text-decoration: none;
			padding: 5% 0 2% 0;
		}

		.indexProducts figure img{
			width: 80%;
		}



	/*-------------@Index Historia------------------------*/
	.index-his{
		flex-direction: row;
		margin: 0 8%;
	}
		.index-his img{
			width: 100%;
		}

	/*------------@Index Galeria--------------------------*/

	.index-gal ul{
		display: flex;
		flex-direction: row;
		gap: 1%;
		margin: 0 10%;
	}
		.index-gal ul li img{
			width: 99%
		}
	.index-gal h3{
		padding-bottom: 3%;
		font-size: 150%;
	}
	.index-gal a{
		margin:  0 auto;
	}


	/*-------------@FOOTER--------------------------------*/

	.foot .informativa{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		padding: 5% 5% 2% 5%;
		background-color: #417A95;
	}
		.foot .informativa h3{
			display: none;
		}

	/*------@footMapaSitio---------------------------*/
	.foot .informativa .divSite{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
	}
		.foot .informativa .divSite h4{
			margin-bottom: 5%;
		}
		.foot .informativa .divSite ul li{
			list-style: none
		}
			.foot .informativa .divSite ul li a{
				text-decoration: none;
				color: #FFFFFF ;
			}
			.foot .informativa .divSite ul li a:hover{
				color: #D99B96;
			}



	/*-------@footDireccion-------------------------*/

	.foot .informativa .divDirec{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
		margin-right: 2%;
	}
		.foot .informativa .divDirec h4{
			margin-bottom: 5%;
		}
		.foot .informativa .divDirec p{
			color: #FFFFFF ;
			text-align: center;
		}


	/*-------@footHorario-------------------------*/

	.foot .informativa .divHora{		
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 24%;
	}
		.foot .informativa .divHora h4{
			margin-bottom: 5%;
		}
		.foot .informativa .divHora p{
			color: #FFFFFF ;
			text-align: center;
		}

	/*------@footConocenos--------------------------*/

	.foot .informativa .divConoc{		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 24%;
	}
		.foot .informativa .divConoc h4{
			display: block;
			margin-bottom: 5%;
		}
		.foot .informativa .divConoc ul{
			gap: 10%;
			padding-left: 0;
		}
			.foot .informativa .divConoc ul li a{
				text-decoration: none ;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
				.foot .informativa .divConoc ul li a p{
					display: block;
					color:#FFFFFF ;
				}
				.foot .informativa .divConoc ul li a p:hover{
					color:#D99B96 ;
				}



	/*------------------------@HISTORIA PAGE---------------------------------------*/
	/*---------------------------------------------------------------------------*/

	
	.hist-main figure{	
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 5% 10%;
		gap:  10%;
	}
		.hist-main figure img{
			width: 50%;
			order: 0;
		}
		.hist-main figure div p{
			text-align: justify;
			padding-top: 5%;
			font-size: 110%;
		}


	/*--------------------@PRODUCTOS PAGE-----------------------------------------*/	
	/*--------------------------------------------------------------------------*/


		.product-main section{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 5% 10%;
			gap: 5%;
		}
		.product-main section div{
			margin-bottom: 5%;
			width: 45%;
		}
			.product-main section div p{
				text-align: justify;
				margin-top: 5%;
				margin-bottom: 2%;
			}
			.product-main section div img{
				width: 100%;
			}

		.product-main .par .prodText{
			order: 1;
		}
		.product-main .par .prodImg{
			order: 0;
		}


	/*--------------------@GALERIA PAGE-----------------------------------------*/										
	/*-------------------------------------------------------------------------*/

	

	.galeria-main section ul{
		background-image: none;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap:  1%;
	}
	.galeria-main section ul li{
		list-style: none;
		display: inline;
		width: 25%;
		margin-bottom: 0.5%;
	}
	.galeria-main section ul li img{
		width: 100%;
		border-radius: 2%;
	}
	.galeria-main .par{
		background-color: rgba(93, 58, 23, 0.3);
	}



	/*--------------------@CONTACTO PAGE-----------------------------------------*/										
	/*-------------------------------------------------------------------------*/


	.contacto-main  .social ul li{
		list-style: none;
		margin-bottom: 1%;
		margin-top: 1%;
	}
		
	.contacto-main .frame iframe{
		height: 40vh;
	}

}





@media screen and (min-width: 1200px){

	/*------------------------INDEX PAGE------------------------------------------*/

	/*--------BOTONERA------------------------------*/
	#botonera ul li a{
		font-size: 160%;
	}


}