//------------SECCION PRODUCTS INDEX-----------------------
.indexProducts{
	margin-bottom: 5%;

	figure {
	@include flexbox (column, center, center);
	width: 75%;
	padding: 5% 5% 1% 5%;
	border-radius: 5%;
	background-color: map-get($map:$secondaryColor-Grad, $key:'0.3');

		img{
			width: 95%;
			border-radius: 2%;
		}

		div{
			@include flexbox (column, center, center);

			h3{
				color: $primaryColor;
			}
			p{
				text-align: center;
			}
			a{
				text-decoration: none;
				background-color: $primaryColor;
				color: $baseColor;
			}			
		}		
	}
}

//------------BANNER #2 INDEX-------------------------------
.indexBaner-dos{		
	@include flexbox (row, center, center);
	background-color: $secondaryColor;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 12vh;
}

//-------------SECCION HISTORIA INDEX------------------------
.index-his{

	figure{
		padding: 5%;

		img{
			width: 65%;
		}

		div{
			@include flexbox (column, center, center);

			.card-body{
				@include flexbox (column, center, center);

				h3{
					margin-bottom: 5%;
				}

				p{
					text-align: justify;
					margin-bottom: 5%;
				}

				a{
					text-decoration: none;
					background-color: $primaryColor;
					color: $baseColor;
				}
			}
		}
	}
}

//------------SECCION GALERIA INDEX----------------------------
.index-gal{
	@include flexbox (column, center, center);
	padding: 5% 0;
	background-color: map-get($map:$secondaryColor-Grad, $key:'0.3');

	h3{
		padding-bottom: 5%;
		color: $secondaryColor;
	}

	a{
		background-color: $primaryColor;
		color: $baseColor;
	}

	ul{
		padding-left: 0;
		li{
			@include flexbox (column, center, center);
			list-style: none;
			margin-top: 2%;

			img{
				width: 99%;
			}
		}
	}
}




// ------------ @ Media QUERIES -----------------------------
//-----------------------------------------------------------



@media screen and (min-width: 768px){

	//----------- @ SECCION PRODUCTS INDEX---------------
	.indexProducts{
		figure {
			width: 90%;

			img{
				width: 90%;
			}		
		}
	}

	//-------------@Index Historia------------------------
	.index-his{

		figure{

			img{
				width: 100%;
			}

			div{
				@include flexbox (row, center, center);

				.card-body{
					p{
						text-align: justify;
					}
				}			
			}
		}
	}

	//------------@Index Galeria---------------------------
	.index-gal{
		ul{
			display: flex;
			flex-direction: row;
			gap: 1%;
			margin: 0 10%;

			li{

				img{
					width: 99%
				}
			}
		}

		h3{
			padding-bottom: 3%;
			font-size: $textXl;
		}
		
		a{
			margin:  0 auto;
		}
	}		
}


@media screen and (min-width: 1200px){

	//----------- @ SECCION PRODUCTS INDEX---------------
	.indexProducts{
		figure {
			width: 85%;

			img{
				width: 85%;
			}		
		}
	}

	//-------------@Index Historia------------------------
	.index-his{

		figure{
			div{
				.card-body{
					p{
						font-size:$textMd ;
					}
				}
			}
		}
	}
}

	
	
	

	
		





	
		
		


		
		
		
			
		