//------BOTONERA-----
#botonera{
	background-color: $primaryColor;
	ul{
		li{
			a{
				color: $baseColor;
				font-weight: 400;
				font-size: $textSm;

				&:hover{
					color: $keyColor;
				}
			}
		}
	}	
}
	

#logo{
	border-style: solid;
	border-color: $secondaryColor;
	width: 65%;
}

//----------! MEDIA QUERIES !--------------------------------

@media screen and (min-width: 768px){
	#botonera{
		ul{
			li{
				a{
					font-size: $textLg;		
				}
			}
		}	
	}

	#logo{
		width: 50%;
	}
}

@media screen and (min-width: 1200px){
	#botonera{
		ul{
			li{
				a{
					font-size: $textXl;				
				}
			}
		}	
	}
}